{% extends "base.html" %}

{% block content %}

<h2>Admin Dashboard</h2>

<a href="/delete_timetable"
onclick="return confirm('Are you sure you want to delete the entire timetable?')">
<button class="delete-btn">Delete Previous Timetable</button>
</a>
<br><br>
<form method="POST" enctype="multipart/form-data">

<input type="file" name="file" accept=".xlsx,.xls,.csv">

<button>Upload Excel</button>

</form>

<h3>Uploaded Timetable</h3>

<table>

<tr>
<th>Room</th>
<th>Day</th>
<th>Period</th>
<th>Department</th>
<th>Subject</th>
<th>Professor</th>
</tr>

{% for d in data %}

<tr>

<td>{{d.room}}</td>
<td>{{d.day}}</td>
<td>{{d.period}}</td>
<td>{{d.department}}</td>
<td>{{d.subject}}</td>
<td>{{d.professor}}</td>

</tr>

{% endfor %}

</table>

{% endblock %}