<!DOCTYPE html>
<html>

<head>

<title>Timetable Management</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="navbar">

<h2 class="logo">Timetable System</h2>

<div class="menu">

{% if current_user.is_authenticated %}

{% if current_user.role == "admin" %}

<a href="/admin">Admin Dashboard</a>

{% else %}

<a href="/hod">Dashboard</a>

<a href="/view_all">All View</a>

<a href="/my_subject">My Subject</a>

<a href="/timetable">Timetable</a>

<a href="/export_pdf">Export PDF</a>

{% endif %}

<a href="/logout" class="logout">Logout</a>

{% endif %}

</div>

</div>

<div class="container">

{% block content %}

{% endblock %}

</div>

</body>

</html>