{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/style.css">

<h2>Department Timetable</h2>

<table>

<tr>
<th>Day</th>

{% for p in periods %}
<th>{{p}}</th>
{% endfor %}

</tr>

{% for day in days %}

<tr>

<td><b>{{day}}</b></td>

{% for p in periods %}

<td>

{% for e in data %}

{% if e.day == day and e.period == p %}

<form method="POST">

<input type="hidden" name="id" value="{{e.id}}">

<b>{{e.room}}</b>

<br><br>

Subject

<input name="subject" value="{{e.subject}}">

<br>

Professor

<input name="professor" value="{{e.professor}}">

<br>

<button type="submit">Save</button>

</form>

<hr>

{% endif %}

{% endfor %}

</td>

{% endfor %}

</tr>

{% endfor %}

</table>

<br>

<a href="/export_pdf">Download PDF</a>
{% endblock %}